.sectionDetails {
  margin: 3rem 0;
}

.detailsData .reviews {
  margin-left: 0.5rem;
}

.detailsData .boxData p,
.detailsData .boxData h5 {
  font-size: 18px;
}

.detailsData .apple span {
  font-size: 14px;
}

.detailsData .apple img {
  width: 22px;
  height: 22px;
}

.detailsData .dataHeader,
.detailsData .dataPrice,
.detailsData .memory h4,
.detailsData .color h4,
.detailsData .Insurance h4 {
  text-align: left;
}

.detailsData .dataPurchase i {
  font-size: 12px;
  border: 1px solid;
  border-radius: 50%;
  padding: 8px;
}

.detailsData .dataPurchase h4 {
  margin: 0 1rem;
}

.detailsData .memory,
.detailsData .color,
.detailsData .Insurance {
  margin-top: 1rem;
}

.detailsData .memory h4,
.detailsData .color h4,
.detailsData .Insurance h4 {
  font-size: 16px !important;
}


.detailsData .addChart button {
  background-color: #000;
  color: #fff;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  width: 100%;
  border: 0;
  padding: 0.8rem 0;
  margin: 2rem 0 !important;
}

.detailsData .notes {
  margin-top: 1rem;
}

.detailsData .notes div {
  margin-right: 1rem;
}

.detailsData .notes p {
  color: #6f6f6f;
}


.detailsProduct {
  margin: 2% 8% 3%;
}


.circle {
  width: 3rem;
  height: 3rem;
  background-color: #ededed;
  border: 1px solid #707070;
  border-radius: 50%;
  margin: auto;
  margin-top: 0.3rem;
}

.active .circle {
  background-color: #90bad1;
}

.border {
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 4% 6%;
  margin-right: 0.3rem;
  color: #aaaaaa;
}

.border:hover,
.active {
  border: 1px solid #050708;
  color: #050708;
}

@media (max-width: 992px) {
  .detailsData {
    margin-top: 2rem !important;
  }
}
